{% extends "base.html" %} {% load static %} {% block content %}


<section class="content">
    <section class="post_form">
        <form action="/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="name" placeholder="name" required>
          <input type="text" name="email" placeholder="email" required>
          <textarea type="text" name="body" placeholder="Tell Us Anything" required></textarea>
          <!-- <input type="submit" value="Tweet"> -->
          <button type="submit">tweet</button>
        </form>
    </section>
    <section class="posts">
        <ul>
        {% for post in posts %}
        <li>
            <img class="menu_icon js-menu-icon" src="{% static 'img/option.png' %}"/>
            <div class="menu">
                <a href="/delete/{{ post.id }}/">delete</a>
                <a href="/edit/{{ post.id }}/">edit</a>
            </div>
            <div class="logo">
              <img src="{% static 'img/user.png' %}" />
            </div>
            <div class="name_body">
             <div class="name">{{ post.name }}</div>
             <div class="email">{{ post.email }}</div><br />
             <div class="datetime">{{ post.created_at }}</div><br />
             <p>{{ post.body }}</p><br />
             <form action="{% url 'like_post' post.pk %}" method ="posts">
               {% csrf_token %}
               <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">{{ post.likes }}</button>
              </form>
             <!--<a href="/delete/{{ post.id }}/">delete</a>-->
             {% if posts.image.url %}
               <img class="Image" src="{{posts.image.url}}" />
             {% endif %}
            </div>    
        </li>    
        {% endfor %}
        </ul>    
    </section>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
</section>

{% endblock %}